/* 
    Document   : form
    Created on : 09.09.2009, 20:19:53
    Author     : Администратор
    Description:
        Purpose of the stylesheet follows.
*/
form {
	text-align: left;
}

form input[type=submit] {
	border: solid 1px;
	background: #FFFFFF url(../img/fieldbg.gif) repeat-x scroll center top;
	color: #333333;
	font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
	font-size: 100%;
	padding: 2px 0;
}

form ul {
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
}

form li {
	clear:both;
	display:block;
	margin:0;
	padding:6px 5px 9px 9px;
}

label.desc {
	border:medium none;
	color:#222222;
	display:block;
	font-size:95%;
	font-weight:bold;
	line-height:150%;
	margin:0;
	padding:0 0 3px;
}

form span.req {
	color:red !important;
	display:inline;
	float:none;
	font-weight:bold;
	margin:0;
	padding:0;
}

form li div, form li span {
	color:#444444;
	margin:0 0.3em 0 0;
	padding:0;
}

input.medium, select.medium, textarea.textarea {
	width:50%;
}

select.mini {
	width:75%;
}

input.mini {
	width: 25px;
	text-align: center;
}

input.text, input.search, textarea.textarea {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FFFFFF url(../img/fieldbg.gif) repeat-x scroll center top;
	border-color:#7C7C7C #C3C3C3 #DDDDDD;
	border-style:solid;
	border-width:1px;
}

input.text, input.search, input.file, textarea.textarea, select.select {
	color:#333333;
	font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
	font-size:100%;
	margin:0;
	padding:2px 0;
}

select.select {
	border-color:#7C7C7C #C3C3C3 #DDDDDD;
	border-style:solid;
	border-width:1px;
}

textarea.textarea {
	height: 100px;
}

textarea.max {
	width: 100%;
}

textarea#wysiwyg {
	height: 200px;
}

form li div label, form li span label {
	clear:both;
	color:#444444;
	display:block;
	font-size:85%;
	line-height:100%;
	margin:0;
	padding-top:6px;
}

form ul li em.message {
	margin-left: 5px;
	display:inline;
	color:red;
}

form ul li input.submit {
	border: 1px solid;
}

div.errors {
	border: 2px solid red;
}

div.errors li {
	margin-left: 20px;
}

form li div.input_left {
	float:left;
}

form li div.input_right {
	float:left;
}

div.form_left {
	width: 40%;
	float:left;
}

div.form_right {
	width: 40%;
	float:left;
}

div.player_select {
	margin-bottom: 1px;
}