.center, td.center, th.center {
	text-align: center;
}

.right, td.right, th.right {
	text-align: right;
}

.bold {
    font-weight: bold;
}

.input-xxxlarge, .wysiwyg {
	width: 570px;
}

.input-micro {
	width: 20px;
}



table caption h4 {
	padding-bottom: 8px;
}

.tournament_schedule, .tournament_add_match {
	padding-top: 22px;
}


.bullet {
    font-size: 35px;
}

.bullet.yellow {
    color: #ffff00;
}

.bullet.red {
    color: red;
}

.bullet.green {
    color: #008000;
}

.popup_profile {
    display: none;
}

span.win {
    color: #008000;
}

span.draw {
    color: darkgray;
}

span.lose {
    color: red;
}
