.center, td.center, th.center {
	text-align: center;
}

.right, td.right {
	text-align: right;
}

.input-xxxlarge, .wysiwyg {
	width: 570px;
}

.input-micro {
	width: 20px;
}



table caption h4 {
	padding-bottom: 8px;
}

.tournament_schedule, .tournament_add_match {
	padding-top: 22px;
}